---
layout: default
title: Categories
permalink: /categories/
---
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless
    forloop.last %},{% endunless %}{% endfor %}{% endcapture %} {% assign tags_list
    = site_tags | split:',' | sort_natural %}
<div class="card-categories card">
    {% for item in (0..site.tags.size) %}{% unless forloop.last %} {% capture
        category %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
    <a id="{{ category | url_encode }}"></a>
    <p class="category-title">{{ category | upcase }}</p>
    <ul class="category-posts">
        {% for post in site.tags[category] %}
            <li>
                <a href="{% if site.baseurl != '/' %}{{site.baseurl}}{% endif %}{{ post.url }}">{{post.date | date: '%B %d , %Y' }} <span class="separator"> - </span>{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
    {% endunless %}{% endfor %}
</div>