<footer class="text-center rs">
    <div>
        <a href="https://www.linkedin.com/in/ludovic-alarcon/" target="_blank">
            <span class="fab fa-linkedin" aria-hidden="true"></span>
        </a>
        <a href="https://github.com/ludovicalarcon" target="_blank">
            <span class="fab fa-github" aria-hidden="true"></span>
        </a>
        <a href="https://twitter.com/alarco_l?lang=en" target="_blank">
            <span class="fab fa-twitter" aria-hidden="true"></span>
        </a>
    </div>
    <h5 id="mail">contact@ludovic-alarcon.com</span></h5>
    <h5 id="cp">2021 © Ludovic Alarcon</h5>
</footer>