<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
            <a class="navbar-brand" href="/"><img src="{{ site.logo-path  | prepend: site.baseurl }}" alt="logo"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="myNavBar">
            <div class="navbar-nav">
                {% for item in site.data.navbar %}
                <a class="nav-item nav-link" href="{{ item.link }}" target="{{ item.target }}">{{ item.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>